node_modules
.env
dist/
.swp


# Hardhat files
hardhat/cache
hardhat/artifacts

# TypeChain files
hardhat/typechain
hardhat/typechain-types

# solidity-coverage files
hardhat/coverage
hardhat/coverage.json
